
/*
#LaundryDetailsTITLE {
 /*   padding-left: 75px;
 text-align: center;
 display: block;
 margin: auto;
}

#modalHEADER {
    border-bottom: 0px;
    margin-top: 10px;
}

.modalCONTENT {
    border-top: 0px; border-bottom: 0px; border-left: 0px; border-right: 0px;
}

#modalContentWIDTH {
    border-top-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-right-width: 0px;
}

#modalDIALOG{
    margin-top: 0px;
    margin-bottom: 0px;
}

.borderCOLLAPSE {
	border-collapse: separate;
	border-spacing: 0px;
}

.colorPATCHES{
	background-color: rgb(0,110,199) !important;
	color: white !important;
}

.topLeftCORNER {
	border-top-left-radius: 12px !important; 
}

.topRightCORNER {
	border-top-right-radius: 12px !important; 
}

.bottomLeftCORNER {
	border-bottom-left-radius: 12px !important;
}

.bottomRightCORNER {
	border-bottom-right-radius: 12px !important;
}

.table-bordered td {
	border: 1px solid(transparent);
}

.table-bordered thead {
	border: 1px solid (transparent);
}

.table-bordered th {
	border: 1px solid rgb (transparent);
}
*/