<div class="modal-body">
	<p class="text-center">
		Wäschekorb wirklich löschen?
	</p>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-outline-danger modal-footer-Button-WIDTH" id="deleteBUTTON" (click)="activeModal.close('Close click');deleteLaundry();">
		<i class="far fa-trash-alt" aria-hidden="true"></i>
	</button>	
	<button type="button" class="btn btn-default modal-footer-Button-WIDTH" id="closeBUTTON" (click)="activeModal.close('Close click')">Abbrechen</button>
</div>